<ion-list>
  <ion-item button (click)="goToPerfil()">
    <ion-label>Perfil</ion-label>
  </ion-item>
  <ion-item button (click)="goToHistorial()">
    <ion-label>Historial</ion-label>
  </ion-item>
  <ion-item button (click)="goToRestablecer()">
    <ion-label>Recuperar Contraseña</ion-label>
  </ion-item>
  <ion-item button (click)="goToHome()">
    <ion-label>Inicio</ion-label>
  </ion-item>
  <ion-item button (click)="onClick()">
    <ion-label>Cerrar Sesión</ion-label>
  </ion-item>
</ion-list>



