<ion-list>
  <ion-item button (click)="goToDocente()">
    <ion-label>Inicio</ion-label>
  </ion-item>
  <ion-item button (click)="goToDocenteAsignaturas()">
    <ion-label>Asignaturas</ion-label>
  </ion-item>
  <ion-item button (click)="goToPerfilDocente()">
    <ion-label>Perfil</ion-label>
  </ion-item>
  <ion-item button (click)="goToRecuperarDocente()">
    <ion-label>Recuperar Contraseña</ion-label>
  </ion-item>
  <ion-item button (click)="onClick()">
    <ion-label>Cerrar Sesión</ion-label>
  </ion-item>
</ion-list>
